@import 'common.scss';
@import 'mixin.scss';
* {
    box-sizing: border-box;
    list-style: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    width: 100%;
    height: pxTorem(40px);
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 pxTorem(15px);
    font-size: pxTorem(15px);
    color: white;
    .inp {
        height: pxTorem(30px);
        display: flex;
        align-items: center;
        background: #ccc;
    }
}

.banner {
    width: 100%;
    height: pxTorem(150px);
    img {
        width: 100%;
        height: 100%;
    }
}

.swiper-container {
    width: 100%;
    height: pxTorem(200px);
    .swiper-slide {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: pxTorem(25px);
        li {
            width: pxTorem(50px);
            height: pxTorem(60px);
            display: flex;
            flex-direction: column;
            margin: 0 pxTorem(12px);
            span {
                text-align: center;
            }
            img {
                width: pxTorem(50px);
                height: pxTorem(50px);
            }
        }
    }
}